<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha temporária</title>
</head>
<body>
    <h1>Olá {{{name}}},</h1>
    <div>

          <h1>{{{msg}}}</h1>
          <p>Sua nova senha é: </p>
          <p>{{{temporaryPassword}}}</p>
          <h3>Clique no link abaixo para fazer login.</h3>
          <p><a href="{{{url}}}" class="btn btn-primary">{{{url}}}</a></p>
   </div>
</body>
</html>